.wrapper {
  width: 80%;
  margin: 0 auto;
}


.actionItemsWrapper {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  font-size: 40px;
}

.textField {
  width: 70%;
  color: #00BCD4 !important;
}

.primaryButton {
  color: #FFF !important;
   background-color: #00BCD4 !important;
}
.employeeWrapper {
  background-color: #FAFAFA;
  padding: 20px;
  height: 220px;
}
.profilePic {
  float: left;
  margin-right: 20px;
  height: 215px;
}

.largeFont {
  font-size: 24px;
}

.mb {
  display: block;
  margin-bottom: 5px;
}
